.card {
  border: 1px solid white;
  border-radius: 0.25rem;
}

.card-image img {
  background-size: cover;
  min-height: 200px;
  max-height: 200px;
  background-position: center;
  padding: 10px;
}

.card-text-area {
  height: 90px;
  padding: 10px;
  background-color: rgba(252, 240, 29, 0.6);
}

p {
  align-self: flex-start;
  text-align: left;
  font-family: Arizonia, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-block: 7px;
}

span {
  font-size: 12px;
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
