.hotsauce-title {
  margin-top: 50px;
}

.hotsauce-title h2 {
  font-size: 36px;
}

@media (max-width: 1000px) {
  .hotsauce-title {
    margin-top: 0;
    text-shadow: 4px 2px #ccc;
  }
  .hotsauce-title h2 {
    font-size: 50px;
  }
}
