.page-title {
  color: darkred;
  margin: 10px;
  font-style: italic;
  text-shadow: 2px 2px #ccc;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

@media (max-width: 1000px) {
  /* .page-title-container {
    width: 100%;
  } */
}
