.detail-page {
  width: 70%;
  padding: 50px;
}

.left-side-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 50px;
  height: 100%;
}

.right-side-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -400px;
  margin-left: 100px;
  width: 100%;
}

h2 {
  font-family: Arizonia;
}

@media (max-width: 1000px) {
  .detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .right-side-detail {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }

  .left-side-detail {
    width: 100%;
    margin-left: 0;
  }
}
